
/* ---------------------------------------------------------------------
 Horizontal List Styles.
------------------------------------------------------------------------ */

.hList {
    overflow: hidden;
}

.hList > * {
    float: left;
}

.hList_spread > * {
    margin-left: 15px;
}
