
/* ---------------------------------------------------------------------
 Media Object
------------------------------------------------------------------------ */

.media { 
    overflow: hidden;
}

.media_overflow {
    overflow: visible;
}

.media-media {
    margin-bottom: 10px;
}

.media-media img {
    display: block;
}

.media-bd {
    overflow: hidden;
}

@media ($TABLET) {

    .media-media {
        float: left;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .media_flip > .media-media {
        float: right;
        margin-right: 0;
        margin-left: 10px;
    }

    .media_equalWidth > * {
        width: 48%;
    }

    .media_equalWidth > * + * {
        margin-left: 2%;
    }

}

