
/* ---------------------------------------------------------------------
 REMOVE FOR PRODUCTION
------------------------------------------------------------------------ */

.breakpointTester,
.breakpointTester:after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: $WHITE;
    background: rgba(0, 0, 0, .25);
    padding: 3px 5px;
    font-size: 12px;
    content: 'Base Viewport (Mobile)';
}

.breakpointTester {
    top: 21px;
    padding: 5px 0;

}

.breakpointTester a {
    color: $WHITE;
    font-size: 12px;
    padding: 5px;
}

.notouch .breakpointTester a:hover {
    color: $GREY_LIGHTER;
    background: rgba(0, 0, 0, .75);
}

@media ($PHONE_LANDSCAPE) {
    .breakpointTester:after {
        content: 'Phone Landscape';
    }
}

@media ($TABLET_PORTRAIT) {
    .breakpointTester:after {
        content: 'Tablet Portrait';
    }
}

@media ($TABLET) {
    .breakpointTester:after {
        content: 'Tablet';
    }
}

@media ($DESKTOP) {
    .breakpointTester:after {
        content: 'Desktop';
    }
}

@media ($DESKTOP_PLUS) {
    .breakpointTester:after {
        content: 'Desktop Plus';
    }
}

/* ---------------------------------------------------------------------
 Grid TESTING Styles REMOVE FOR PRODUCTION OR MOVE INTO Pattern Library Page
------------------------------------------------------------------------ */

/* REMOVE FOR PRODUCTION */

.gridTest .grid > * {
    background-color: $GREY_LIGHT;
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
}

.gridTest .grid > * + * {
    border-left: 0;
}

.gridTest .grid_flush > .grid-col {
    background-color: $GREY;
}

.gridTest .blocks > * {
    margin-top: 5px;
    padding: 3px 0;
    background-color: $BLUE_GREY;
}

.gridTest .grid + .grid {
    margin-top: 20px;
}

.test {
    margin-bottom: 10px;
    border-bottom: 1px solid $GREY_LIGHT;
}
/* END REMOVE FOR PRODUCTION */




