
/* ---------------------------------------------------------------------
 Vertical List Styles.
------------------------------------------------------------------------ */

.vList {
    overflow: hidden;
    display: block;
}

.vList_brd > * {
    border-top: 1px solid $GREY;
}
