
/* ---------------------------------------------------------------------
 Global Header Styles
------------------------------------------------------------------------ */

.globalHeader {
    overflow: hidden;
    display: block;
    width: 100%;
}

.globalHeader-util {
    display: table;
    width:  96%;
    margin: 0 auto;
    padding: 0 2%;
}

.globalHeader-util > * {
    display: table-cell;
    vertical-align: top;
}

.globalLogo {
    display: block;
    height: 80px;
    width: 180px;
    text-indent: -9999px;
    margin: 10px;
    background: url(../images/svgs/city-logo.svg) 0 0 no-repeat;
    background-size: 100%;
}
    
.globalUtil {
    text-align: right;
    position: relative;
}

.globalUtil-bd {
    display: block;
}

.globalUtil-bd > a + a {
    margin-left: 15px;
    margin-top: 5px;
}

.globalUtil-ft {
    margin-top: 30px;
}

.globalHeader-nav {
    border-top: 7px solid $RED;
}

.globalNav {
    display: block;
    background-color: $BLUE_DARK;
    border-top: 1px solid $GOLD_ALT;
    border-bottom: 1px solid $GOLD;
}

.globalNav-nav {
    // padding-left: 0;
    display: table;
    width: 100%;
    border-bottom: 1px solid $GREY_DARKER;
}

.globalNav-nav > * {
    font-size: 12px; 
    // font-size: 14px;
    font-weight: $FONT_BOLD;
    text-transform: uppercase;
    color: $WHITE;
    display: table-cell;
    text-align: center;
    padding: 13px 5px;
    border-right: 1px solid $GREY_DARKER;
}

.globalNav > * > *:first-child {
    width: 65%;
}

.globalNav-nav > * a {
    color: $WHITE;
}

.notouch .globalNav-nav > *:hover {
    cursor: pointer;
}

.notouch .globalNav-nav > *:hover > a {
    color: $GOLD;
}

.globalNav-search {
    display: table;
    width: 100%;
    min-height: 30px;
}

.globalNav-search > * {
    display: table-cell;
    vertical-align: middle;
}

.globalSearch {
    // display: inline-block;
}

.globalSearch-label {
    position: relative;
    font-weight: $FONT_EXTRABOLD;
    font-size: 12px;
    color: $GOLD;
    text-transform: uppercase;
    padding-right: 14px;
}

.globalSearch-label:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -32px;
    font-size: 24px;
    @extend .icon;
    @extend .icon-search:before;
    color: $GREY_DARKER;
}

.globalSearch-input {
    width: 70%;
    min-height: 30px;
    font-size: 12px;
    border: none;
    margin: 0;
    padding: 0 10px 0 37px;
    background-color: $BLUE_DARK_ALT;
    color: $GREY_DARK;
    border-left: 1px solid $GREY_DARKER;
}

.globalSearch-input:focus {
    background-color: $OFF_BLACK;
}

.advSearchTrigger {
    width: 35%;
    font-size: 12px;
    text-align: left;
    color: $GREY_DARK;
    background-color: $OFF_BLACK;
    padding: 0 10px;
    border-left: 1px solid $GREY_DARKER;
    border-right: 1px solid $GREY_DARKER;
    @include transition(all 0.2s ease-in);
}

.advSearchTrigger:after {
    content: '';
    position: relative;
    right: -7px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $TEAL;
}

.isActive.advSearchTrigger:after {
    top: -10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $TEAL;
    border-top: none;
}

.notouch .advSearchTrigger:hover {
    cursor: pointer;
    background-color: $BLACK;
}

.advSearchTrigger.isActive {
    background-color: $BLACK;    
}

.advSearchBox {
    float: right;
    position: relative;
    min-width: 100%;
    z-index: 2;
    overflow: hidden;
}

.globalTools {
    height: 38px;
    margin: 0 auto;
}

.advSearchBox {
    max-height: 0;
    @include transition(max-height 0.3s linear);
}

.advSearch-isOpen {
    max-height: 1000px;
}

.advSearchTarget {
    background-color: $WHITE;
}

.advSearchTarget-fieldset {
    text-align: center;
    padding-top: 20px;
    border: 1px solid $GREY;
    border-top: none;
    @include box-shadow(0 -2px 10px $BLACK);
    margin-bottom: 6px;
}

.advSearchTarget-fieldset > * {
    vertical-align: none;
}

.sortBox {
    display: inline-block;
    overflow: hidden;
    padding: 8px;
    border: 1px solid $GREY_DARK;
    border-top: none;
    width: 94%;
    float: left;
    position: absolute;
    z-index: 1;
    background-color: $WHITE;
}

.sortBox-label {
    font-weight: $FONT_BOLD;
    font-size: 13px;
    text-transform: uppercase;
    float: left;
    color: $GOLD;
}

.sortBox-list {
    font-size: 12px;
    overflow: hidden;
}

.sortBox-list > * {
    float: left;
    margin-left: 8px;
    font-weight: $FONT_SEMIBOLD;
}

.sortBox-list > * > a {
    color: $GREY_DARKER;
}

.notouch .sortBox-list > * > a:hover,
.sortBox-list > *.isActive > a,
.sortBox-list > * > a:active {
    color: $TEAL;
}

.sortBox-list > * + *:before {
    content: '-';
    margin-right: 8px;
    color: $OFF_BLACK;
}

@media ($TABLET_PORTRAIT) {
    .globalUtil-bd > a + a {
        margin-top: 0;
    }    
    .advSearch-isOpen {
        max-height: 150px;
    }    
    .advSearchTarget-fieldset {
        padding: 15px 3px;
    }
    .advSearchTarget-fieldset > .input {
        // width: 160px;
        width: 20%;
        margin-right: 10px;
        padding: 5px;
    }
    .advSearchTarget-fieldset > .btn {
        margin-top: 15px;
        margin-left: 10px;
    }
    .sortBox {
        width: 320px;
    }
    .globalHeader-util {
        max-width: $GLOBAL_WRAP_WIDTH;
        padding: 0 $GLOBAL_PADDING;
    }
}

@media ($TABLET) {
    .globalNav-nav > * {
        padding: 8px 18px;
    }
}

@media ($DESKTOP) {
    .globalSearch-input {
        width: auto;
    }
    .globalNav-nav {
        display: inline-block;
        font-size: 0;
        /* removing extra px from using inline-block */
        border-bottom: none;
    }
    .globalNav-nav > * {
        display: table-cell;
        text-align: left;
    }
    .globalNav > * {
        display: block;
        max-width: 1240px;
        margin: 0 auto;
    }
}

@media ($DESKTOP) {
    .globalSearch-input {
        min-width: 44%;
    }
    .advSearchTarget-fieldset > .btn {
        margin-top: 0;
    }
}

@media ("max-width: 1024px") {
    .globalNav >.lTable > * {
        width: 100%;
        display: block;
    }
}

@media ("min-width: 1150px") {
    .globalNav-nav > * {
        font-size: 14px;
    }
    .globalSearch-label {
        font-size: 14px;
    }
}

@media ("min-width: 1280px") {
    .globalSearch-input {
        min-width: 60%;
    }
}

@media ($DESKTOP_PLUS) {
    .globalTools,
    .globalNav > *,
    .globalHeader-util {
        width: 1240px !important;
    }
    .globalNav > * > *:first-child {
        width: 62%;
    }
    .globalSearch-input {
        min-width: 55%;
    }
    .advSearchTrigger {
        width: 30%;
    }
}

@media ($MOBILE) {
    .globalUtil-ft {
        display: none;
    }
    .globalNav-nav {
        max-height: 0;
        overflow: hidden;
        @include transition(max-height .5s linear);
    }
    .globalNav-isOpen {
        max-height: 1000px;
    }
    .globalNav-nav,
    .globalNav-search {
        display: block;
    }
    .globalSearch {
        width: 100%;
        display: block;
    }
    .globalSearch-label,
    .globalSearch-input {
        font-size: 14px;
    }
    .globalSearch-input {
        font-size: 14px;
        padding: 7px 0 7px 37px;
        width: 61%;
    }
    .advSearchTrigger {
        display: block;
        width: 90%;
        padding: 4% 5%;
        text-align: center;
        font-size: 14px;
        border-left: 0;
    }
    .globalNav-nav > * {
        font-size: 16px;
        padding: 18px;
        display: block;
        border-right: none;
        border-bottom: 1px solid $GREY_DARKER;
    }
    .advSearchTarget-fieldset > * {
        display: block !important;
        width: 97% !important;
        margin: 0 0 20px 1%;
        min-height: 40px;
    }
}
