
/* ---------------------------------------------------------------------
 Base Form Styles
------------------------------------------------------------------------ */

.input {
    background-color: $WHITE;
    border: 2px solid $GREY_LIGHT;
}

.input:focus {
    background-color: $GREY_LIGHT;
}