
/* ---------------------------------------------------------------------
 Visually Hidden Element. Will not be seen but it will be heard, retaining accessibility.
------------------------------------------------------------------------ */

.isVisuallyHidden,
.isVisuallyHidden_mobile {
    height: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}

@media ($DESKTOP) {

    .isVisuallyHidden_mobile {
        height: auto !important;
        position: static !important;
        left: auto !important;
    }

    .isVisuallyHidden,
    .isVisuallyHidden_desktop {
        margin: 0 !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        border: 0 !important;
        position: absolute !important;
        overflow: hidden !important;
        clip: rect(1px 1px 1px 1px) !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
    }
}