
/* ---------------------------------------------------------------------
 Utility Styles. Use wisely and sparingly.
------------------------------------------------------------------------ */

.noSelect {
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Place for Mix-in Utility Classes
// .mix-layoutIsRight {
//     text-align: right;
// }

.img {
    display: block;
    width: 100%;
    height: auto;
}

@media ($TABLET_PORTRAIT_MAX) {
    .stackInTablet > * {
        display: block !important;
        float: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 10px;
    }
    .stackInTablet > * img {
        max-width: 100%;
    }
}